<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>

  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']">Messages</a>
      </li>
    </ul>

    <div class="container" id="loginFormContainer">
      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="navbar-nav" (ngSubmit)="login()">
        <div class="col-auto pl-0">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <input type="text" #username="ngModel" class="form-control" placeholder="Username" name="username" required [(ngModel)]="model.username">
          </div>
        </div>
        <div class="col-auto pl-0">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-lock"></i>
              </div>
            </div>
            <input type="password" #password="ngModel" class="form-control" placeholder="Password" name="password" required [(ngModel)]="model.password">
          </div>
        </div>
        <div class="col-auto pl-0 pr-0">
          <button class="btn btn-success my-2 my-sm-0" [disabled]="!loginForm.valid" type="submit">Login</button>
        </div>
      </form>
    </div>

    <div *ngIf="loggedIn()" class="dropdown show">
      <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Welcome {{ authService.decodedToken?.unique_name | titlecase}}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">
          <i class="fa fa-user"></i> Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" id="logoutBtn" (click)="logout()">
          <i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>

  </div>
</nav>
